version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo_db
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: house_of_jordan_app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      MONGO_URL: mongodb://admin:admin123@mongo:27017/
    depends_on:
      - mongo

volumes:
  mongo_data:
